@font-face{
    src: url('../fonts/Lato-Light.ttf');
    font-weight: 300;
    font-family: light;
}@font-face{
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-family: regular;
}@font-face{
    src: url('../fonts/Lato-Black.ttf');
    font-weight: black;
    font-family: black;
}@font-face{
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: bold;
    font-family: bold;
}
:root{
    --br: 2.2vw;
}
body{
    margin: 0;
}
*{
    font-family: light;
    font-weight: 300;
    color: #415262;
    font-size: 1.31vw;
    box-sizing: border-box;
    outline: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
img{
    max-width: 100%;
}
.bold, .bold *, strong{
    font-family: regular;
}
.bold_b, .bold_b *{
    font-family: bold;
}
.uppercase, .uppercase *{
    text-transform: uppercase;
}
.black, .black *{
    font-family: black;
}
.f24, .f24 *{
    font-size: 1.75vw;
}
.f14, .f14 *{
    font-size: 1.02vw;
}
.f12, .f12 *{
    font-size: .87vw;
}
.f10, .f10 *{
    font-size: .73vw;
}
h1, h1 *{
    font-size: 3.51vw;
}
.white, .white *{
    color: #fff;
}
.text_center{
    text-align: center;
}
.text_left{
    text-align: left;
}
.text_right{
    text-align: right;
}
/*  Navegador ------------------------------------------------------------------------------------------------- */
header{
    background: #fff;
    padding: 0 1.61vw;
    display: flex;
    align-items: stretch;
    height: 3.66vw;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-right: 0;
    z-index: 99;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav div{
    width: 100%;
}
.main_logo{
    width: 7vw;
}
.nav_menu{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}
.nav_menu li{
    list-style: none;
    width: 7vw;
    text-align: center;
    margin-left: 2vw;
}
.nav_menu li:nth-child(1){
    margin-left: 0;
}


/* Home ------------------------------------------------------------------------------------------------------------- */

.primera_busqueda_view{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.primera_busqueda_view > div.img_col_2{
    width: 42.6vw;
    background-image: url(../assets/fondo_inicio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.primera_busqueda_view > div.img_col_2 img{
    width: 100%;
    display: block;
}
.caja_flotante{
    position: relative;
    margin-left: 9.8vw;
    margin-top: 16.83vw;
}
.caja_flotante h1{
    max-width: 28vw;
    margin: 0;
    margin-bottom: 1vw;
    line-height: 1.1;
}
.caja_flotante > p{
    margin: 0;
    line-height: 1;
}
.buscador > #buscador_form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.92vw;
}
.label_ubicacion{
    position: relative;
    display: block;
}
.label_ubicacion:before{
    content: '';
    width: 2.1vw;
    height: 2vw;
    background-image: url(../assets/icon-location.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: .5vw;
    opacity: .7;
    transition: opacity .6s;
}
.active.label_ubicacion:before{
    opacity: 1;
}
#input_ubicacion{
    width: 31.25vw;
    height: 3.3vw;
    border-bottom-left-radius: var(--br); 
    border-top-left-radius: var(--br); 
    border: solid 1px #4152629a;
    background-color: #ffffff;
    border-right: none;
    padding-left: 2.92vw;
}
#input_ubicacion::placeholder{
    font-family: light;
}
#input_ubicacion:focus{
    border-color: #415262;
}
.active > #input_ubicacion{
    border-color: #415262
}
.error #input_ubicacion{
    border-color: #ff6868
}
.btn_buscar{
    width: 8.19vw;
    height: 3.3vw;
    border-top-right-radius: var(--br); 
    border-bottom-right-radius: var(--br); 
    background-color: #30e190;
    border: none;
}
.error_span{
    display: none;
    position: absolute;
    color: #ff6868;
    left: 1.3vw;
    bottom: -1.3vw;
}
.error > .error_span{
    display: block;
}
.first_content{
    max-width: 79.22vw;
    margin: auto;
    margin-top: 2.92vw;
    margin-bottom: 12.44vw;
}
hr{
    width: 100%;
    height: 1px;
    background-color: #d4dbe2;
    border: none;
    margin: 2.92vw 0;
}

/* Filtros  ---------------------------------------------------------------------------------------------------------------- */

input:focus,
input:-webkit-autofill:focus,
input,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
#filtros_view{
    position: relative;
    padding-top: 3.66vw;
    display: flex;  
}
.form_filtros_box{
    width: 26.20vw;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.form_title{
    background-color: #415262;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.39vw;
    width: 100%;
}
.form_filtros_box form{
    width: 100%;
    padding: 1.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 8.05vw);
}
.form_filtros_box form label{
    display: block;
    position: relative;
    margin: 1vw 0;
}
#filtros_view #input_ubicacion, 
#filtros_view select, 
#filtros_view .integer_input{
    width: 100%;
    height: 2.9vw;  
    border: solid 1px #D4DBE2;
    background-color: #ffffff;
    border-radius: var(--br); 
}
#filtros_view label.active #input_ubicacion, 
#filtros_view label.active select, 
#filtros_view label.active .integer_input{
    border-color: #415262;
}
#filtros_view #input_ubicacion:focus, 
#filtros_view select:focus, 
#filtros_view .integer_input:focus{
    border-color: #415262;
}
#filtros_view select{
    padding-left: 1vw;
    -webkit-appearance: none;
}
#filtros_view .integer_input{
    padding-left: 1vw;
}
#filtros_view .integer_input::placeholder{
    color: #415262
}
.btn_start{  
    height: 3.3vw;
    border-radius: var(--br);
    background-color: #d4dbe2;
    width: 100%;    
    border: none;
    transition: background-color .6s;
    margin-top: 1.5vw;
}
.btn_start.active{
    background-color: #30e190;
}
.label_select{
    position: relative;
}
.label_select::before{
    content: '';
    position: absolute;
    right: .8vw;
    top: .1vw;
    bottom: 0;
    width: 1vw;
    height: 1vw;
    background-image: url(../assets/down-arrow.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
#habitaciones_container, #amoblado_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vw;
}
#habitaciones_container > div,
#amoblado_container > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_filtros_box .label_hab{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.29vw;
    height: 2.92vw;
    border-radius: var(--br);
    border: 1px solid #D4DBE2;
    margin: 0 .25vw;
    cursor: pointer;
    transition: all .6s;
}
.form_filtros_box .label_hab.active{
    background-color: #415262;
    color: #fff;
}
.form_filtros_box .label_hab input{
    position: absolute;
    visibility: hidden;
}
.ind_span{
    display: block;
    margin-top: -.5vw;
}
.over_input_text{
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2vw;
    border-radius: var(--br);
    left: 1vw;
    align-items: center;    
    cursor: auto;
    display: none;
}
.value > .over_input_text{
    display: flex;
}
.inactive{
    display: none!important;
}
/* Footer  ---------------------------------------------------------------------------------------------------------------- */
footer{
    background-color: #415262;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.66vw;
}

.for_mob{
    display: none;
}

@media (max-width: 768px){
    :root{
        --br: 8vw;
    }
    *{
        font-size: 4.8vw;
    }
    .f24, .f24 *{
        font-size: 6.4vw;
    }
    .f14, .f14 *{
        font-size: 3.73vw;
    }
    .f12, .f12 *{
        font-size: 3.2vw;
    }
    .f10, .f10 *{
        font-size: 2.66vw;
    }
    h1, h1 *{
        font-size: 8.53vw;
    }
    .primera_busqueda_view{
        display: block;
        height: auto;
    }
    .primera_busqueda_view > div.img_col_2{
        width: 100%;
        height: 59vw;
        background-position: center 90%;
    }
    .caja_flotante > p{
        font-size: 4.8vw;
    }
    footer p{
        font-size: 3.73vw;
    }
    header{
        height: 14.93vw;
        position: fixed;
    }
    .nav_menu{
        display: none;
    }
    .main_logo{
        width: 21vw;
    }
    .primera_busqueda_view > div:nth-child(1){
        padding: 27vw 0 14vw;
    }
    .caja_flotante{
        margin: auto;
        max-width: 90%;
        text-align: center;
    }
    .caja_flotante > h1, .caja_flotante > p{
        max-width: 76%;
        margin: auto;
    }
    .caja_flotante h1{
        margin-bottom: 3vw;
    }
    .label_ubicacion{
        width: 100%;
    }
    #input_ubicacion{
        width: 100%;
        height: 12vw;
        border-radius: var(--br);
        border: solid 1px #4152629a;
    }
    .label_ubicacion:before{
        content: none;
    }
    .error_span{        
        bottom: -6.5vw;    
        font-family: regular;
    }
    .buscador > #buscador_form{
        position: relative;    
        margin-top: 7vw;
    }
    #buscador_form .btn_buscar{
        position: absolute;
        width: 4.53vw;
        color: transparent;
        overflow: hidden;
        background-color: transparent;
        background-image: url(../assets/icon-search.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        right: 3vw;
        width: 5vw;
        height: 5vw;
        margin: auto;
    }
    .first_content{
        max-width: 90vw;
        margin-top: 10vw;
    }
    footer{
        height: 13.33vw;
    }
    #filtros_view{
        display: grid;
    }
    .form_filtros_box{
        width: 100%;
    }
    #map{
        grid-row: 1;
        width: 100%;
        height: 60vw;
    }
    .form_title{
        height: 14.66vw;
        background-color: transparent;
        border-bottom: solid 1px #dfe0e0;
    }
    .form_title > p{
        color: #415262;
        font-family: bold;
        font-size: 4.8vw;
    }
    #filtros_view #input_ubicacion, #filtros_view select, #filtros_view .integer_input{
        height: 10.66vw;
    }
    .label_select::before{
        right: 3vw;
        width: 4vw;
        height: 4vw;
    }
    #filtros_view select, #filtros_view .integer_input{
        padding-left: 3vw;
    }
    .form_filtros_box form{
        padding: 5vw 5vw 6.5vw;
        min-height: auto;
    }
    .form_filtros_box form label{
        margin: 2.5vw 0;
    }
    .btn_start{
        height: 10.66vw;
        font-family: bold;
        margin-top: 4vw;
    }
    .form_filtros_box .label_hab{
        width: 12vw;
        height: 10.66vw;
        margin: 0 1.5vw;
    }
    .form_filtros_box form > div:nth-child(1){
        margin-bottom: 2vw;
    }
    .over_input_text{
        height: 9vw;
        left: 2vw;
        padding-left: 1vw;
    }
    .for_mob{
        display: block;
    }
    #btn_menu_standar{
        border: none;
        background: none;
        flex-direction: column;
        justify-content: space-between;
        width: 5.5vw;
        height: 4.5vw;
        margin-right: 4vw;
        padding: 0;
        align-items: initial;
        margin-bottom: 2vw;
        margin-left: 3.5vw;
    }
    #btn_menu_standar > span{
        width: 100%;
        display: block;
        background-color: #415262;
        height: 3px;
        margin: 3px 0;
    }
    header nav div{
        display: flex;
        align-items: center;
    }
    .nav_menu{
        display: block;
        position: fixed;
        left: 0;
        top: 14.93vw;
        background: #fff;
        width: 80%;
        height: calc(100vh - 14.93vw);    
        transform: translateX(-100vw);
        transition: transform .8s;
    }
    .nav_menu.active{
        transform: none;
    }
    .nav_menu li{
        width: 100%;
        text-align: left;
        padding-left: 4vw;
        border-bottom: solid 1px #d4dbe2;
        display: flex;
        align-items: center;
        height: 15vw;
        margin-left: 0;
    }
    .nav_menu li a{
        font-family: regular;
    }
    .nav_menu li.active a{
        color: #30e190;
        font-family: bold;
    }
    
}