@font-face{
    src: url('../fonts/TTNorms-Regular.otf');
    font-weight: normal;
    font-family: regular;
}@font-face{
    src: url('../fonts/TTNorms-Bold.otf');
    font-weight: bold;
    font-family: bold;
}
:root{
    --br: 2.2vw;
}
body{
    margin: 0;
}
*{
    font-family: regular;
    font-weight: normal;
    color: #001d5e;
    font-size: 1.04vw;
    box-sizing: border-box;
    outline: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
img{
    max-width: 100%;
}
.bold, .bold *, strong{
    font-family: bold;
}
.uppercase, .uppercase *{
    text-transform: uppercase;
}
.f30, .f30 *{
    font-size: 1.56vw;
}
h1, h1 *{
    font-size: 3.125vw;
}
.white, .white *{
    color: #fff;
}
.text_center{
    text-align: center;
}
.text_left{
    text-align: left;
}
.text_right{
    text-align: right;
}
