#menu_reporte{
    width: 100%;
    background-color: #415262;
    max-width: 4.5vw;
    min-height: 100vh;  
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#menu_reporte.active{
    max-width: 16.4vw;
}
.logo{
    width: 45%;
}
.logo.active_logo{
    display: none;
}
#menu_reporte.active .logo.active_logo{
    display: block;
}
#menu_reporte.active .logo.inactive_logo{
    display: none;
}
#reporte{
    display: flex;
}
#reporte_box{
    width: 100%;
}
.nav_top_reporte{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 100%;
    height: 3.66vw;
    display: flex;
    align-items: center;
    padding-left: 1.61vw;
}
#btn_menu{
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.1vw;
    width: 1.61vw;
    padding: 0;
    align-items: initial;
}
#btn_menu > span{
    width: 100%;
    display: block;
    background-color: #415262;
    height: 3px;
}
.item_menu{
    display: flex;
    align-items: center;
    background-color: #34424f;
    padding-left: 1.6vw;
    height: 4.39vw;
}
.item_menu span{
    display: none;
    color: #30e190;
}
.active .item_menu span{
    display: block;
}
#menu_reporte > div:nth-child(1){
    height: 3.66vw;
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
    border-bottom: solid 1px #ffffff78;
}
.item_menu img{
    margin-right: .8vw;
    width: 1.8vw;
}
#reporte{
    background-color: #eff0f2;
}
.report_body{
    padding: 1.46vw 1.61vw 5.85vw;
}
.btn_share, .btn_download{
    height: 2.56vw;
    width: 10.1vw;
    border-radius: 2.2vw;
    border: solid 1px #415262;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: bold;
    font-size: 1vw;

}
.btn_share img, .btn_download img{
    margin-right: .3vw;
    width: 1.25vw;
}
.btn_download{
    background-color: #30e190;
    color: #fff;
    border: none;
    margin-left: 1vw;
}
.titulo_2nd_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo_2nd_nav > div{
    display: flex;
    align-items: center;
}
.titulo_2nd_nav h1{
    margin: 0;
}
.price_details_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details_box, .price_box {
    background-color: #fff;  
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    height: 13.17vw;
    position: relative;
}
.details_title p{
    margin: 0;
}
.datails_content{
    padding: .5vw 1.46vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 9.6vw;
}
.datails_content p{
    margin: 0;
}
.details_title, .price_title, .similar_title{
    height: 3.66vw;
    display: flex;
    align-items: center;
    padding: 0 1.45vw;
    border-bottom: 1px solid #dfe0e0;
    justify-content: space-between;
}
#trigger_price{
    border: none;
    background: none;
    color: #30e190;
    font-family: regular;
    display: flex;
    align-items: center;
    justify-content: center;
}
#trigger_price img{
    margin-left: .35vw;
}
.price_details_box{
    margin-top: 1.46vw;
}
.price_box .datails_content > p.f12{
    color: #798590;
}
.datails_content > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: .5vw;
}
.datails_content h2{
    font-size: 2.63vw;
    margin: 0;
}
.details_box{
    width: 29%;
}
.price_box{
    width: 71%;
    margin-left: 1.61vw;
}
.similar_box{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 1.6vw;
    margin-bottom: 1.6vw;
}
.leyenda_similares{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.leyenda_similares > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leyenda_similares > div img, 
.leyenda_similares > div span{
    display: block;
    margin-right: .7vw;
}
.leyenda_bolita{
    display: block;
    border-radius: 50%;
    margin-right: .7vw;
    width: 1vw;
    height: 1vw;
}
.leyenda_similares > div:nth-child(2) span{
    background-color: #1ed582;
}
.leyenda_similares > div:nth-child(3) span{
    background-color: #87a7c4;
}
.leyenda_similares > div:nth-child(4) span{
    background-color: #ff6868;
}
.leyenda_similares > div:nth-child(1) img{
    width: 1.5vw;
}
.closure_box{
    display: flex;
    background-color: #fff;  
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    height: 2vw;
    padding: 0 1.6vw;
}
.closure_box p{
    margin: 0;
}
.closure_box > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.closure_box span{
    display: block;
    font-weight: bold;
    margin: 0 .7vw;
}
.closure_box > div:nth-last-child(1) span{
    color: #30e190
}
.green_anchor{
    color: #30e190;
    font-family: bold;
    cursor: pointer;
}
.nota_box{
    display: flex;
    align-items: center;
    padding-left: 1.6vw;
    height: 3.66vw;
}
.price_options {
    position: absolute;  
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 17.56vw;
    width: 53.44vw;
    padding: 0 1.6vw;
    top: 3.7vw;
    right: 0;
    opacity: 0;
    transform: translateY(-2vw);
    transition: all .8s;
    display: none;
}
.price_options.active{
    display: block;
}
.price_options > div{
    display: flex;
    justify-content: space-between;  
}
.price_option{
    display: flex;
    flex-direction: column;
    justify-items: center;
    cursor: pointer;
    width: 32%;
}
.option_box{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0 1vw;
    height: 11vw;
}
.usar_box > span{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #1ed582;
    border-radius: 50%;
    width: 1.1vw;
    height: 1.1vw;
    margin-right: .4vw
}
.price_option.active .usar_box > span > span{
    background-color: #1ed582;
    display: block;
    border-radius: 50%;
    width: .7vw;
    height: .7vw;
}
.usar_box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1ed582;
    font-family: regular;
    margin-top: .5vw;
}
.grey{
    color: #798590;
}
.tinu_range_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tinu_range_price > span{
    min-width: 2px;
    width: .15vw;
    height: 1.9vw;
    border-radius: 30px;
    background-color: #1ed582;
    margin: 0 1vw;
}
.tinu_range_price > div > p{
    margin: 0;
}
.option_box > .f10 {
    margin: 0;
}
.option_box > .f18 {
    margin: .5vw 0;
}
.price_option:nth-child(2) .option_box .f24{
    margin: 1.2vw 0;
}
.price_option:nth-child(3){

}
.price_option.active .option_box {
    border: solid 1px #30e190;
}
.personal_price_label{
    display: flex;
    position: relative;
    width: 90%;
    margin: auto!important;
}
#personal_price{
    border-radius: 2.2vw;
    border: solid 1px #415262;
    background-color: #ffffff;
    height: 2.56vw;
    width: 100%;
    padding-left: 3.65vw;
}
.personal_price_label::before{
    position: absolute;
    left: .8vw;
    top: 0;
    bottom: 0;
    margin: auto;
    content: 'USD';
    display: flex;
    align-items: center;

}
.active.visible{
    opacity: 1;
    transform: none;
}
/* Caja para recomendar */
.recomendar_box{
    background-color: #d4dbe2;
    height: auto;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recomendar_box .numeritos_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
}
.value{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.56vw;
    height: 2.56vw;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 .5vw;
    cursor: pointer;
}
.recomendar_box > p{
    margin-top: 0;
}
.value > span{
    font-family: regular;
}
.value input{
    position: absolute;
    visibility: hidden;
}
.value.active{
    background-color: #415262;
}
.value.active span{
    color: #fff;
}
/* Estilos de la tabla */
#sortable_table{
    border-collapse: collapse;    
    width: 100%;
}
/* thead, thead tr{
    display: block;
} */
tr{
    border-bottom: 1px solid #dfe0e0;
    height: 2.92vw;
}
thead th{
    text-transform: uppercase;
    font-size: .73vw;
    font-family: bold;
    padding: 1.25vw 0;
    text-align: center;
    cursor: pointer;
}
thead th *{
    font-size: .73vw;
    font-family: bold;
}
thead th img{
    width: 0.7vw;
    min-width: 13px;
    margin-left: .2vw;
}
tbody td{
    text-align: center;
    font-family: regular;
}
.analizado_row{
    background-color: #eff0f2;
}
.analizado_row td img{
    width: 1.5vw;
}
tbody tr{
    height: 2.92vw;
}
.loop_number{
    border-radius: 50%;
    color: #fff;
    width: 1.61vw;
    height: 1.61vw;
    font-family: regular;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Alta .loop_number{
    background-color: #1ed582;
}
.Media .loop_number{
    background-color: #87a7c4;
}
.Baja .loop_number{
    background-color: #ff6868;
}
.check_table {
    position: relative;
    display: block;
    width: 1.3vw;
    height: 1.3vw;  
    background-color: #fff;
    border: solid 1.5px #415262;
    border-radius: 3px;
    cursor: pointer;
}
.analizado_row .check_table{
    opacity: .7;
}
.check_table::before{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1vw;
    height: 1vw;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/checked.svg);
    margin: auto;
}
.check_table.active::before{
    content: '';
}
.check_table input{
    position: absolute;
    visibility: hidden;
}
.modal_box_container{  
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .4s;
}
.modal_box_container.active{
    display: flex;
}
.modal_white_box{  
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    max-width: 43.92vw;
}
.modal_body{
    padding: .2vw 1.6vw .5vw;
}

.modal_body > *{
    line-height: 1.4;
}
.close_item_modal{
    cursor: pointer;
    position: absolute;
    right: 1.1vw;
    top: 1.1vw;
    width: 1.17vw;
}
.modal_title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.3vw;
    border-bottom: solid 1px #dfe0e0;
}
.active.visible_modal{
    opacity: 1;
}
#mapbox_map{
    min-height: 20vw;
    background-color: #d4dbe2;
}
.mob_logo{
    display: none;
}
.for_mob{
    display: none;
}

.questions_label > input{
    width: 100%;
    height: 3vw;
    border-radius: 10vw;
    padding-left: 1vw;
    background: none;
    -webkit-box-shadow: 0 0 0px 1000px #eff0f2 inset;
    border: solid 1px #415262;
}
.questions_label p{
    margin-left: 1vw;
    text-align: left;
}
.recomendar_box{
    padding-top: 1.6vw;
}
.recomendar_questions {
    width: 100%;
    margin-left: 0vw;
    padding: 1.6vw;
    background: #eff0f2;
    margin-top: 1.6vw;
    display: none;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 2vw;
}
.recomendar_questions.active{
    display: block;
}
.recomendar_box > form{
    width: 100%;
}

@media (max-width: 768px){
    #menu_reporte{
        display: none;
    }
    .mob_logo{
        display: block;
        width: 24vw;
    }
    .nav_top_reporte{
        height: 14.93vw;
        padding-left: 5vw;
    }
    #btn_menu{
        width: 5.5vw;
        height: 4.5vw;
        margin-right: 4vw;
    }
    .titulo_2nd_nav > div:nth-child(2){
        display: none;
    }
    .report_body > div{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .titulo_2nd_nav h1{
        font-size: 4.8vw;
        margin: 3vw 0;
    }
    .price_details_box{
        display: block;
    }
    .price_box{
        display: none;
    }
    .details_box, .price_box{
        height: auto;
        width: 100%;
    }
    .details_title, .price_title, .similar_title{
        height: auto;
        padding: 4vw;
    }
    .details_title p, .price_title p, .similar_title p{
        margin: 0;
    }
    .datails_content{
        height: auto;
        padding: 4vw;
    }
    .price_box{
        margin-left: auto;
        margin-top: 5vw;
    }
    .datails_content p{
        margin: .6vw 0;
    }
    .similar_box{
        margin-top: 5vw;
    }
    .leyenda_similares{
        flex-wrap: wrap;
    }
    .leyenda_similares > div{
        width: 50%;
        justify-content: flex-start;
        padding-left: 5vw;
    }
    .leyenda_similares > div img, .leyenda_similares > div span{
        width: 4vw;
        margin-right: 2vw;
    }
    .leyenda_bolita{
        height: 10px;
        width: 10px!important;
    }
    .leyenda_similares > div p{
        font-size: 2.6vw;
    }
    #mapbox_map{
        min-height: 80vw;
    }
    #sortable_table{
        display: none;
    }
    .nota_box{
        height: auto;
        display: none;
        padding: 3vw 5vw;
        margin-top: 0vw;
        border-radius: 4px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
    .nota_box > p{
        line-height: 1.45;
        margin: 0;
    }
    .closure_box{
        height: auto;
        padding: 3vw 5vw;
        margin-top: 5vw;
        display: block;
    }
    .recomendar_box{
        height: auto;
        padding: 5vw 3vw 0;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .closure_box > div{
        display: block;
        text-align: center;
    }
    .closure_box > div:nth-child(1) > span{
        display: none;
    }
    .closure_box > div:nth-child(2){
        display: flex;
    }
    .closure_box p{
        margin-bottom: 1.5vw;
    }
    .closure_box span{
        margin: 0 2vw;
    }
    .for_mob{
        display: block;
    }
    .recomendar_box .numeritos_box > p{
        display: none;
    }
    .value{
        width: 6.5vw;
        height: 6.5vw;
    }
    .recomendar_box .numeritos_box{
        width: 100%;
        justify-content: space-between;
        padding: 0 2vw;
        margin-top: 4vw;
    }
    #trigger_price{
        display: none;
    }
    .deploy_mob_box {
        width: 3vw;
    }
    .mob_table_item{
        background-color: #fff;  
        border-radius: 4px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        min-width: 80vw;
        margin-right: 4vw;
        margin-bottom: 5vw;
    }
    .mob_table {
        margin-top: 5vw;
        position: relative;
    }
    .mob_table>div{
        display: flex;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
    .price_box_mob {
        background-color: #fff;  
        border-radius: 4px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        margin-top: 5vw;
        width: 100%;
    }
    .tittle_price_mob{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dfe0e0;
        justify-content: space-between;    
        height: auto;
        padding: 4vw;
    }
    .tittle_price_mob p{
        margin: 0;
    }
    .btn_tab_price_mob{
        display: flex;
        border: solid 1px #30e190;  
        border-radius: 30px;
        height: 8vw;
        overflow: hidden;
        margin: auto;
        margin-top: 4vw;
        max-width: 90%;
    }
    .btn_tab_price_mob > button{
        width: 100%;
        background: none;
        border: none;
        color: #30e190;
        font-family: bold;
        font-size: 2.9vw;
    }
    .btn_tab_price_mob > button.active{
        color: #fff;
        background-color: #30e190;
    }
    .btn_tab_price_mob > button:nth-child(2){
        border-left: solid 1px;
        border-right: solid 1px;
        border-color: #30e190;
    }
    .price_mob_content>div{
        display: none;
    }
    .price_mob_content>div.active{
        display: block;
    }
    .option_box{
        height: auto;
        padding: 5vw 4vw 4vw;
        border-bottom: 1px solid #dfe0e0;
        box-shadow: none;
        border-radius: 0;
    }
    .option_box > p.f18{
        font-size: 6.4vw;
    }
    .trp_p{
        font-size: 4.26vw;
        font-family: regular;
        color: #798590;
    }
    .tinu_range_price{
        margin-top: 4vw;
        margin-bottom: 1vw;
    }
    .tinu_range_price > span{
        height: 7.9vw;
    }
    .download_btns_mob{
        display: flex;
        justify-content: space-between;
    }
    .download_btns_mob > button{
        width: 100%;
        padding: 0;
    }
    .btn_share, .btn_download{
        height: 13.33vw;
        border: none;
        background-color: #30e190;
        border-radius: 0;
        color: #fff;
        font-size: 3.7vw;
    }
    .btn_share{
        margin-right: 1px;
    }
    .btn_download{
        margin-left: 0;
    }
    .usd_m2_mob{
        border-bottom: 0;
    }
    .btn_share img, .btn_download img{
        margin-right: 2.5vw;
        width: 5vw;
        filter: brightness(0) invert(1);
    }
    .mob_table_item > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #dfe0e0;
        padding: 3vw 4vw;
    }
    .tab_title{
        justify-content: flex-start!important;
        padding: 2vw 4vw!important;
    }
    .mob_table_item > div:nth-last-child(1){
        border: none;
    }
    .mob_table_item > div > div p:nth-child(1){
        margin-bottom: 1vw;
        margin-top: 0;
    }
    .mob_table_item > div > div p:nth-child(2){
        font-size: 3.73vw;
        margin: 0;
    }
    .mob_table_item > div > div{
        width: 100%;
    }
    .mob_table_item > div > div:nth-child(1){
        margin-right: 30%;
    }
    .leyenda_bolita{
        width: 6.4vw!important ;
        margin-right: 2vw;
        color: #fff;
        height: 6.4vw;
    }
    .Alta .leyenda_bolita{
        background-color: #1ed582;
    }
    .Media .leyenda_bolita{
        background-color: #87a7c4;
    }
    .Baja .leyenda_bolita{
        background-color: #ff6868;
    }
    .details_title, .tittle_price_mob, .similar_title{
        height: 12vw;
    }
    .details_box, .price_box_mob, .similar_box{
        max-height: 12vw;
        overflow: hidden;
        transition: max-height .6s;
    }
    .details_box.active{
        max-height: 60vw;
    }
    .price_box_mob.active{
        max-height: 120vw;
    } 
    .similar_box.active{
        max-height: 120vw;
    }
    .modal_white_box{
        max-width: 80%;
        max-height: 80vh;
        overflow: auto;
    }
    .modal_body{
        padding: 4vw;
        position: relative;
    }
    .modal_title{
        height: auto;
        padding: 4vw;
    }
    .modal_title p{
        margin: 0;
    }
    .close_item_modal{
        width: 3.5vw;
        top: 2vw;
        right: 2vw;
    }
    .option_box > p.grey{
        max-width: 70%;
        margin: auto;
        margin-bottom: 4vw;
    }
    #arrow_float_scroll{
        position: absolute;
        right: 3vw;
        top: 0;
        bottom: 5vw;
        margin: auto;
        width: 7vw;
        animation: quick_move .8s infinite alternate;
    }
    #personal_price{
        height: 11vw;
        border-radius: 10vw;
        width: 100%;
        margin: auto;
        padding-left: 13vw;
    }
    #opinion_experta_modal{
        padding: 5vw;
    }
    #opinion_experta_modal .personal_price_label{
        width: 85%;
        margin: auto;
    }
    #opinion_experta_modal .modal_white_box{
        width: 90%!important;
        max-width: none;
        padding: 5vw 0;
    }
    .personal_price_label::before{
        left: 2vw;
    }
    #opinion_experta_modal .btn_download {
        width: 85%;
        border-radius: 10vw;
        margin: 5vw auto;
    }
    .slider_range_box{
        margin-top: 3vw;
        position: relative;
        padding-bottom: 12vw;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vw;
    }
    .numeritos_box{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .slider_range {
        -webkit-appearance: none;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        transition: all .3s;
        margin: 0;
        background: #b1b3b3;
        -webkit-box-shadow: none;
      }
    .slider_range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #30e190;
        cursor: pointer;
        border: 5px solid #aef3d4;
    }
    
    .slider_range::-moz-range-thumb {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #30e190;
        cursor: pointer;
    }
    .slider_range_box > p{
        position: absolute;
        bottom: 0;
        margin: 0;
    }
    .slider_range_box > p.left{
        left: 0;
    }
    .slider_range_box > p.right{
        right: 0;
    }
    .questions_label > input{
        width: 100%;
        height: 11vw;
        border-radius: 10vw;
        padding-left: 3vw;
        background: none;
        -webkit-box-shadow: 0 0 0px 1000px #eff0f2 inset;
        border: solid 1px #415262;
    }
    .questions_label > input::placeholder{
        font-size: 4vw;
    }
    .questions_label p{
        margin-left: 3vw;
        text-align: left;
    }
    .recomendar_questions {
        width: 100vw;
        margin-left: 0vw;
        padding: 5vw 3vw 10vw;
        background: #eff0f2;
        margin-top: 5vw;
        display: none;
    }
    .recomendar_questions.active{
        display: block;
    }
    .leyenda_similares > div:nth-child(1) img{
        width: 6.5vw;
    }
    .tab_title > img{
        width: 6.5vw;
        margin-right: 2.5vw;
    }
















    @keyframes quick_move {
        to{
            transform: translateX(2vw)
        }
    }
}